@media screen and (max-width: 1150px) {
    .firstPage {
        display: none;
    }
}
@media screen and (min-width: 1151px) {
    .firstPage {
        background-color: #59b54b;
        width: 100%;
        height: calc(100vh - 114px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }
    .firstPage-waveImage {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .firstPage-text {
        font-family: "Poppins";
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 77%;
        margin: 6% auto 0 auto;
    }
    .firstPage-text-large {
        color: white;
        font-size: 72px;
        font-weight: 700;
        text-align: center;
        line-height: 90px;
    }
    .firstPage-text-small {
        color: #f9f9f9;
        font-size: 18px;
        text-align: center;
    }
    .firstPage-button {
        display: flex;
        justify-content: center;
        transform: translate(0px, 40px);
        z-index: 99;
        position: relative;
    }
    .firstPage-button button {
        color: white;
        border: 2px solid white;
        background-color: #59b54b;
        border-radius: 50px;
        width: 222px;
        height: 44px;
        font-size: 18px;
        margin-top: 90px;
    }
    .firstPage-button button:hover {
        color: #59b54b;
        background-color: white;
        cursor: pointer;
    }
    .dosaImage {
        display: flex;
        justify-content: space-between;
    }
    .dosaImage1 {
        width: 35%;
        object-fit: contain;
        z-index: 1;
        /* transform: translate(0, -100px) !important; */
    }
    .dosaImage2 {
        width: 35%;
        object-fit: contain;
        z-index: 1;
        /* transform: translate(0, -100px) !important; */
    }
}
