@media screen and (max-width: 1150px) {
    .ourStory {
        background-color: #fcfbef;
    }
    .ourStory-section-mobileImage {
        display: block;
    }
    .ourStory-section-content {
        display: none;
    }
    .ourStory-section-desktopImage {
        display: none;
    }
    .ourStory-section-content {
        display: block;
    }
    .ourStory-section-content-head {
        color: #1a750b;
        font-family: "Nunito";
        font-weight: 800;
        font-size: 36px;
        line-height: 49px;
        /* text-align: center; */
    }
    .ourStory-section-content-head-o {
        border-bottom: 5px solid #f5ec0e;
    }
    .ourStory-section-content-para1-mobile {
        display: block;
    }
    .ourStory-section-content-para1 {
        display: none;
    }
    .ourStory-section-content-para2 {
        display: none;
    }
    .ourStory-image-mobile {
        background-color: #ffcc28;
    }
    .ourStory-image-text-mobile {
        font-family: "Poppins";
        font-weight: 700;
        font-style: bold;
        font-size: 32px;
        line-height: 48px;
        line-height: 99.67%;
        vertical-align: top;
        letter-spacing: 0.5%;
        color: #fdfbf4;
        margin-bottom: 59px;
    }
    .ourStory-section-images-welcome {
        display: none;
    }
    .ourStory-section-head1 {
        font-family: "Courgette";
        color: #959595;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
    }
    .ourStory-section-head2 {
        color: #175a0c;
        font-family: "Poppins";
        font-weight: 500;
        font-size: 36px;
        line-height: 54px;
    }
    .ourStory-section-head2-s {
        border-bottom: 5px solid #f5ec0e;
    }
    .ourStory-section-images-dish {
        height: 313.71px;
        width: 198.22px;
        background-color: white;
        box-shadow: 0px 1.72368px 34.4737px rgba(0, 0, 0, 0.2);
    }
    .ourStory-section-images-dish-name {
        font-family: "Poppins";
        font-weight: 400;
        font-size: 15px;
        line-height: 23px;
        padding-left: 10px;
        padding-top: 6px;
    }
    .ourStory-section-images-dish-type {
        font-family: "Poppins";
        font-weight: 400;
        font-size: 11px;
        line-height: 17px;
        letter-spacing: -0.02em;
        color: #acacac;
        padding-left: 10px;
    }
    .ourStory-section-images {
        /* display: flex; */
        margin-top: 45px;
    }
    .ourStory-section-mobileImage {
        width: calc(100% - 84px);
        margin: 0 auto;
    }
    @media screen and (min-width: 425px) {
        .ourStory-section-mobileImage img {
            width: 330px;
        }
    }
    @media screen and (max-width: 425px) {
        .ourStory-section-mobileImage img {
            width: 100%;
        }
    }
    .ourStory-section-mobileImage img {
        padding: 40px 0;
        /* object-fit: contain; */
    }
    .ourStory-section-content-head {
        text-align: center;
        margin: 0 0 26px 0;
    }
    .ourStory-section-content-para {
        padding: 0 32px;
        color: #6f6f6f;
        font-family: "Nunito";
        font-style: normal;
        font-size: 16px;
        line-height: 21px;
        line-height: 130%;
    }
    .ourStory-section-content-para3 {
        color: #086c30;
        font-weight: 500;
        margin-bottom: 48px;
    }
    .ourStory-section-content-para3-image {
        margin-left: 7px;
    }
    .ourStory-image-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .ourStory-image-welcome-mobile {
        margin: 56px 0 20px 0;
    }
    .ourStory-section-head-part1 {
        margin-top: 42px;
        margin-left: 20%;
    }
    .ourStory-section-images-dishes {
        width: 100%;
        overflow-x: scroll;
        display: flex;
        padding-bottom: 80px;
    }
    .ourStory-section-images-dish {
        margin-right: 12%;
    }
}

@media screen and (min-width: 1151px) {
    .ourStory {
        padding-top: 300px;
        background: linear-gradient(
            180deg,
            #e4f0fa 0%,
            rgba(228, 240, 250, 0) 100%
        );
    }
    .ourStory-section-mobileImage {
        display: none;
    }
    .ourStory-section {
        display: flex;
        margin: 0 12% 0 12%;
    }
    .ourStory-section-content {
        padding: 0 6% 0 12%;
        font-family: "Poppins";
    }
    .ourStory-section-content-head {
        color: #120d4f;
        font-weight: 500;
        font-size: 36px;
        line-height: 54px;
        margin-bottom: 30px;
        /* border: 1px solid black; */
    }
    .ourStory-section-content-head-o {
        border-bottom: 5px solid #f5ec0e;
    }
    .ourStory-section-content-para {
        font-size: 14px;
        font-weight: 400;
        color: #6f6f6f;
    }
    .ourStory-section-content-para3 {
        margin-top: 30px;
        color: #086c30;
        font-weight: 500;
    }
    .ourStory-section-content-para3-image {
        margin-left: 7px;
    }
    .ourStory-image-mobile {
        display: none;
    }
    .ourStory-section-head1 {
        font-family: "Courgette";
        color: #959595;
        font-weight: 400;
        font-size: 24px;
    }
    .ourStory-section-head2 {
        color: #175a0c;
        font-family: "Poppins";
        font-weight: 500;
        font-size: 36px;
    }
    .ourStory-section-head2-s {
        border-bottom: 5px solid #f5ec0e;
    }
    .ourStory-section-head-part1 {
        margin: 150px 0 0 18%;
    }
    .ourStory-section-images-dish {
        height: 313.71px;
        width: 198.22px;
        background-color: white;
        box-shadow: 0px 1.72368px 34.4737px rgba(0, 0, 0, 0.2);
    }
    .ourStory-section-images-dish-name {
        font-family: "Poppins";
        font-weight: 400;
        font-size: 15px;
        line-height: 23px;
        padding-left: 10px;
        padding-top: 6px;
    }
    .ourStory-section-images-dish-type {
        font-family: "Poppins";
        font-weight: 400;
        font-size: 11px;
        line-height: 17px;
        letter-spacing: -0.02em;
        color: #acacac;
        padding-left: 10px;
    }
    .ourStory-section-images {
        /* display: flex; */
        margin-top: 45px;
    }
    .ourStory-section-images-dishes {
        width: 655px;
        display: flex;
        left: 0;
        justify-content: space-between;
    }
    .ourStory-section-images {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .ourStory-section-images-welcome {
        background-color: #ffcc28;
        height: 504px;
        width: 607px;
    }
    .ourStory-section-images-welcome img {
        margin: 17% 32% 180px 32%;
    }
    .ourStory-section-images-welcome-text {
        color: #fdfbf4;
        font-family: "Poppins";
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.02em;
        text-align: center;
    }
    .ourStory-section-content-para1-mobile {
        display: none;
    }
    .ourStory-section-content-para2-mobile {
        display: none;
    }
}
